<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h1>お気に入り一覧</h1>
<% @favorites_pictures.each do |favorite_picture| %>
<%= favorite_picture.title %>
<%= favorite_picture.content %>

<%= link_to 'New Picture', new_picture_path %>

<% end %>

